# Ignore large raw data files
data/online_retail_II.xlsx
data/transactions_clean.csv
data/customer_churn_status.csv

# Ignore logs
logs/
*.log

# Ignore local python environments
__pycache__/
.env
.venv/
venv/
*.pkl.tmp

# Ignore node modules and builds
node_modules/
dist/
.eslintcache
